.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px;
}

.hero {
  text-align: center;
  padding: 60px 0;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 8px;
}

.hero p {
  font-size: 1.1rem;
  color: #f0ecc9;
}

.section {
  margin-bottom: 60px;
}

.section h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  border-bottom: 2px solid #f0ecc9;
  padding-bottom: 8px;
}

.academicImage {
  border-radius: 45px;
  object-fit: cover;
  flex-shrink: 0;
   box-shadow: 0 7px 20px rgba(0, 0, 0, 0.15);
   outline: 2px solid #d54b1a;
   outline-offset: 3px;
   border: 5px solid #e3a72f; /* nova linha */
}

.academicItem {
  display: flex;
  flex-direction: row;      /* garante lado a lado */
  flex-wrap: nowrap;        /* impede quebra de linha */
  gap: 24px;
  align-items: flex-start;  /* alinha pelo topo, fica mais elegante com texto longo */
}

.academicItem p {
  flex: 10;                   /* o texto ocupa o espaço restante */
  margin: 30;
}