.navbar { /*barra de navegação*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #a35481;
  color: #d6e6b7;
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
}

.links {
  display: flex;
  gap: 24px;
}

.links a {
  color: #f0ecc9;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}